<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd"
>
    <bean id="bean_back_user" class="com.handtours.service.impl.project.back.UserImpl"></bean>
    <bean id="bean_back_user2" class="com.handtours.service.impl.project.back.UserImpl2"></bean>
</beans>