<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd"
>
    <!--<bean id="txManager"-->
    <!--class="org.springframework.jdbc.datasource.DataSourceTransactionManager">-->
    <!--<property name="dataSource" ref="dataSource"/>-->
    <!--</bean>-->

    <!--<aop:config>-->
    <!--<aop:pointcut id="daoPointcut" expression="execution(* com.handtours.service.dao.*.*(..))"/>-->
    <!--<aop:advisor advice-ref="txAdvice" pointcut-ref="daoPointcut"/>-->
    <!--</aop:config>-->

    <!--&lt;!&ndash;&lt;!&ndash; 事务注解驱动，标注@Transactional的类和方法将具有事务性 &ndash;&gt;&ndash;&gt;-->
    <!--<tx:annotation-driven transaction-manager="jpaTransactionManager"/>-->

    <!--<tx:advice id="txAdvice" transaction-manager="jpaTransactionManager">-->
    <!--<tx:attributes>-->
    <!--<tx:method name="insert*" propagation="REQUIRED" rollback-for="Exception"/>-->
    <!--<tx:method name="update*" propagation="REQUIRED" rollback-for="Exception"/>-->
    <!--<tx:method name="delete*" propagation="REQUIRED" rollback-for="Exception"/>-->
    <!--<tx:method name="*" propagation="REQUIRED" read-only="true"/>-->
    <!--</tx:attributes>-->
    <!--</tx:advice>-->

</beans>