<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.handtours.service.dao.back.UserMapper">
    <!-- Cache 配置 -->
    <cache
            eviction="FIFO"
            flushInterval="60000"
            size="512"
            readOnly="true" />

    <!-- 缓存 -->
    <!--<cache eviction="LRU" type="app.platform.mybatis.MybatisRedisCache" />-->


    <resultMap id="BaseResultMap" type="com.handtours.service.model.back.User">
        <id column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="CHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        mobile, name, password
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from back_user
        where mobile = #{mobile,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from back_user
        where mobile = #{mobile,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.handtours.service.model.back.User">
        insert into back_user (mobile, name, password
        )
        values (#{mobile,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=CHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.handtours.service.model.back.User">
        insert into back_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mobile != null">
                mobile,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="password != null">
                password,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mobile != null">
                #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.handtours.service.model.back.User">
        update back_user
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=CHAR},
            </if>
        </set>
        where mobile = #{mobile,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.handtours.service.model.back.User">
        update back_user
        set name = #{name,jdbcType=VARCHAR},
        password = #{password,jdbcType=CHAR}
        where mobile = #{mobile,jdbcType=VARCHAR}
    </update>
</mapper>